name: Test stable release

on:
  workflow_dispatch:
  workflow_call:
  pull_request:
    branches: ["main", "release"]
  push:
    branches: ["main"] # this also gets called by deploy on push into release

env:
  HDF5_MPI: "ON"
  HDF5_DIR: "/usr/local/"
  DISPLAY: ":99.0"
  DEB_PYTHON_INSTALL_LAYOUT: deb_system

jobs:
  test:
    runs-on: ubuntu-latest
    container: ghcr.io/cianwilson/fenics-sz:test-ipyparallel-v0.9.0r1
    env:
      PYVISTA_OFF_SCREEN: true

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v4

      - name: Initialize
        run: |
            git config --global --add safe.directory "$GITHUB_WORKSPACE"
            python3 -c "from pyvista import start_xvfb; start_xvfb(0.1)"

      - name: Check scripts are up to date
        working-directory: notebooks
        run: |
            ../scripts/update_python
            git diff --exit-code || { retcode=$?; echo "Python scripts not up to date with notebook files.  Please update."; exit $retcode; }

      - name: Check notebooks are clean
        working-directory: notebooks
        run: |
            ../scripts/clear_notebooks
            git diff --exit-code || { retcode=$?; echo "Jupyter notebooks are not clear.  Please clear output."; exit $retcode; }

      - name: Test background
        working-directory: notebooks/02_background
        run: |
            jupyter execute 2.2b_poisson_1d.ipynb
            jupyter execute 2.3d_poisson_2d_parallel.ipynb
            jupyter execute 2.4e_batchelor_nest_parallel.ipynb
            jupyter execute 2.5b_blankenbach.ipynb

      - name: Test sz_problems
        working-directory: notebooks/03_sz_problems
        run: |
            jupyter execute 3.4b_sz_benchmark.ipynb

